/* About component styles. */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    flex-direction: row;
    text-align: left;
  }
  
  .about-description {
    flex: 1;
    padding: 2rem;
    border: 2px solid #274c77;
    border-radius: 10px;
    background-color: #8b8c89;
    max-width: 62.5rem;
    text-align: left;
    position: relative;
  }
  
  .about-description h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-overflow: ellipsis;
  }
  
  .about-description p {
    font-size: 1.25rem;
    color: #ffffff;
  }

@media screen and (max-width: 992px) {
  .about {
      flex-direction: column;
      text-align: center;
      padding: 1.5rem;
      gap: 1rem;
  }

  .about-description {
      width: 90%;
      padding: 1.5rem;
  }

  .about-description h2 {
      font-size: 1.5rem;
  }

  .about-description p {
      font-size: 1.1rem;
  }
}