/* Contact Page Container */
.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Contact Info Container */
.contact-info-container {
  background-color: #17153B;
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  text-align: center;
}

.contact-info h3 {
  margin-bottom: 1rem;
}

/* Contact Info Links */
.contact-info a {
  color: #e6f671;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}