.header-custom-background {
    background-color: #17153B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5rem 1rem;
    color: white;
    max-width: 100%;
  }

.nameDisplay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

.nav-tabs-container {
    margin-left: auto;
  }